/*

	Product attributes

*/
.product-attributes {
	padding-top: 1.5em;
}

.product-attr {
	background-color: #F1F1F1;
	border: solid #ddd;
	border-color: rgba(0, 0, 0, 0.125);
	border-width: 1px 1px 0;
	margin: auto;
	overflow: hidden;
	text-align: left;
}
	.product-attr:last-child {
		border-bottom-width: 1px;
	}

	.product-attr-img {
		float: left;
		margin-right: 3em;
	}
	
	.product-attr-content {
		padding-right: 3em;
		padding-top: 3em;
	}

		.product-attr-title,
		.product-attr-desc {
			margin-bottom: 0;
		}
	
		.product-attr-desc {
			font-size: .888888889em;
		}
	