/*

	Product shopping cart tabel
	Usage: <tabel.m-product-table>

*/

.m-product-table {}

	.m-product-table thead {}
		.m-product-table thead tr {}
		.m-product-table thead th {}
	
	.m-product-table tbody {}
		.m-product-table tbody tr {}
		.m-product-table tbody th {}

	.product-table-delete { text-align: center; }

  .product-table-info {}
	  .product-table-img { vertical-align: middle; height: 25px; }
	  .product-table-name {}
	  .product-table-category {}
	  .product-table-size {}
	  .product-table-aside {
	  	color:#666;
	  	margin-left:2em;
	  	font-size:.85em;
	  }

  .product-table-price {}

  .product-table-quantity {}

  .product-table-subtotal {}