/*

	Image Viewer Module
	Usage: <div.m-image-viewer>

*/
.m-product-image-viewer {
	margin-left: auto;
	margin-right: auto;
	width: 66.666666666%;
}

    .image-viewer-stage {
        position: relative;
		text-align: center;
    }

		.image-viewer-stage img {
			position: relative;
			vertical-align: middle;
		}

        .image-viewer-display {
            background-position: center top;
            background-repeat: no-repeat;
			margin: auto;
			max-width: 500px;
            width: 80%;
        }

    .image-viewer-nav {
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	       -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	         -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        list-style: none outside none;
		overflow: hidden;
		text-align: center;
    }

		.image-viewer-nav:before {
			content: "More Views";
			background-color: #40190b; /*@tj-brown*/
			-webkit-border-radius: .125em .125em 0 0;
			   -moz-border-radius: .125em .125em 0 0;
			        border-radius: .125em .125em 0 0;
	        color: white;
			display: block;
			font-family: "dosis-medium";
			font-size: .888888889em;
	        padding: 0 .75em;
			text-transform: uppercase;
		}

    .image-viewer-thumb {
		float: left;
		width: 25%;
    }

		.image-viewer-thumb a {
			border: none;
	    }

        .image-viewer-thumb img {
			vertical-align: middle;
            width: 100%;
        }

/* --- Magnifier --- */
.magnify {
	position: relative;
}

.magnifier {
	background-repeat: no-repeat;
	width: 175px; height: 175px;
	position: absolute;
	border-radius: 100%;
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
	0 0 7px 7px rgba(0, 0, 0, 0.25), 
	inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

	/*hide the glass by default*/
	display: none;
	z-index: 8;
}

.mag-small { display: block; }