/*

	Product shopping cart form
	including m-product-size, m-product-color

*/

.product {}

	.product-title {}

	.product-subtitle {}

	.product-meta {}

		.product-price {}
	
	.product-options {}
	
	/*/////////////////////////////////////////////////
	Product size modual
	/////////////////////////////////////////////////*/

	.product-size {}
	
		.product-size > legend { background:none; float: left; }

		.product-size > label {
	        -webkit-transition: all .25s;
	           -moz-transition: all .25s;
	             -o-transition: all .25s;
	                transition: all .25s;
	    }

		.product-size:not(:checked) > input {
      position: absolute;
      top: -9999px;
      clip: rect(0,0,0,0);
    }

		.product-size:not(:checked) > label {
			border:1px solid #ccc;
			cursor: pointer;
			float: left;
			padding: .25em .5em;
    }

		.product-size > label .hide-on-small-screen {
			display: none;
    }

	    .product-size:not(:checked) > label:hover {
	    	border-color:red;
	    }

	    .product-size > input:checked + label {
	        background-color: red;
	        border-color:red;
	    }
	
	/*/////////////////////////////////////////////////
	Product color modual
	/////////////////////////////////////////////////*/
	
	.product-color {}
	
		.product-color > legend { background:none; float: left; }

		.product-color > label {
	        -webkit-transition: all .25s;
	           -moz-transition: all .25s;
	             -o-transition: all .25s;
	                transition: all .25s;
	    }

		.product-color:not(:checked) > input {
	        position: absolute;
	        top: -9999px;
	        clip: rect(0,0,0,0);
	    }

		.product-color:not(:checked) > label {
			border:#FFF .25em solid;
			cursor: pointer;
			display: inline-block;
			float: left;
			padding: .25em .5em;
			text-indent: -5000px;
			width:1.5em;
			height:1.5em;
	    }

	    .product-color:not(:checked) > label:hover,
	    .product-color > input:checked + label {
            border: transparent 0 solid;
        }