/*

	Image Viewer Module
	Usage: <div.m-image-viewer>

*/
.m-product-image-viewer {
    
}

    .image-viewer-stage {
        height: 800px;
        position: relative;
        width: 100%;
    }

        .image-viewer-display {
            background-position: center top;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
        }

    .image-viewer-nav {
        left: 1.5em;
        list-style: none outside none;
        position: absolute;
        top: 1.5em;
        width: 10%;
    }

    .image-viewer-nav-top {
        background-color: #40190B;
        border-radius: 5px 5px 0 0;
        color:#FFF;
        padding:0 .75em;
    }

    .image-viewer-thumb {

    }

        .image-viewer-thumb img {
            float: left;
        }