/*

	Product sharing via Social Networks

*/

.pslist {
	list-style: none;
	padding: 0;
}

	.pslist-item {
		display: inline-block;
		padding: .25em;
	}
	
		.pslist-item * {
			margin: 0;
			padding: 0;
			vertical-align: middle;
		}
		
		.pslist-item a {
			border: none;
		}