/*

	Rating Module
	Usage: <fieldset.rating>

*/
.rating {
	float: left;
	border: none;
    margin: 0 1.5em 0 0;
    padding: 0;
	width: 8em;
}

    .rating > label {
        -webkit-transition: all .25s;
           -moz-transition: all .25s;
             -o-transition: all .25s;
                transition: all .25s;
    }

    .rating:not(:checked) > input {
        position: absolute;
        top: -9999px;
        clip: rect(0,0,0,0);
    }
    
    .rating:not(:checked) > label {
        color: #ddd;
        cursor: pointer;
        float: right;
        font-size: 150%;
        overflow: hidden;
        white-space: nowrap;
        width: 1em;
    }

        .rating:not(:checked) > label:before {
            content: '★ ';
        }


    .rating > input:checked ~ label {
        color: #333;
    }

    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: gold;
    }

    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: gold;
    }

    .rating > label:active {}