/*
	
	Offscreen panel

*/
.os-panel {
    background-color: #40190b;
    bottom: 0;
	color: rgba(255, 255, 255, 0.5);
	font-size: 1.125em;
    list-style: none;
	opacity: 0;
    padding: 0;
	position: absolute;
	right: -80%;
	text-align: left;
	top: 0;
	width: 80%;
    -webkit-transition: -webkit-transform .3s ease, opacity .1s;
       -moz-transition: -moz-transform .3s ease, opacity .1s;
         -o-transition: -o-transform .3s ease, opacity .1s;
            transition: transform .3s ease, opacity .1s;
	-webkit-transform: translateX(0,0,0);
	   -moz-transform: translateX(0,0,0);
	     -o-transform: translateX(0,0,0);
	        transform: translateX(0,0,0);
	z-index: 10;
}
	
	.os-panel a {
		color: #f1f1f1; /*@t-warmgray*/
	}
	
	.os-ctl-panel {
		padding: 1.35em;
	}

	.btn.os-close {
		background-color: rgba(255,255,255,0.125);
	}