/*


	Layout


*/

.invisible { visibility: hidden; }

.pointer { cursor: pointer; }

.space { margin-top: 1.5em; margin-bottom: 1.5em; }

.row.space { margin-top: 1.5em; margin-bottom: 1.5em; }

hr.space { border: none; border-width: 0; clear: both; margin: 22px 0 22px; height: 0; }

.no-margin { margin:0 !important; }


/* grid */

.padded { padding:1.5em }

.margined { margin-left: 2.33333em; margin-right: 2.33333em; }


/* forms */
select.inline { width:auto; }

fieldset.collapsed { padding: 0; }

/*/////////////////////////////////////////////////
Checkout
/////////////////////////////////////////////////*/

#checkout {
	background:transparent url(../images/line.png) repeat-y scroll center top;
}

.checkout-step {}

	.checkout-head {
		font-size: 1.5em;
		margin: .75em 0 .75em 50%;
	}

	#checkout .checkout-head i {
		font-size: 1em;
    	margin: -.25em .75em 0 -.75em;
	}

	#checkout .checkout-head i:before { display: none; }
	#checkout .checkout-head.checkout-complete i:before { display: inline-block; }
	#checkout .checkout-head.checkout-complete i span { display: none; }
	
	.checkout-content .padded { padding:.75em 3em; }
	
	.checkout-content summary {
		cursor: pointer;
		font-size: 150%;
    line-height: 1;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    outline: none;
	}
	.checkout-content summary::-webkit-details-marker { float: left; }


/*/////////////////////////////////////////////////
Footer
/////////////////////////////////////////////////*/

footer[role="contentinfo"] {
	margin-top:1.5em;
}