/*


	Layout


*/

.l-wrapper,
.l-readable {
	margin-left: auto;
	margin-right: auto;
}

.l-wrapper {
	max-width: 56.25em;
}


[class^="l-grid"] {
	text-align: center;
}

	[class^="l-grid"] > * {
		text-align: left;
	}

[class*="l-block"] {
	display: inline-block;
	padding-bottom: 2em;
	padding-bottom: 2rem;
}

	[class*="l-block"]:last-child,
	[class*="l-block"]:last-of-type { padding-bottom: 0; }

@media screen and (min-width: 43em) {
	[class^="l-grid"] {
		margin-left: -2em;
		margin-left: -2rem;
		text-align: left;
		vertical-align: top;
	}

	[class*="l-block"] {
		margin-left: -3px;
		margin-right: -3px;
		padding-bottom: 0;
		padding-left: 2em;
		padding-left: 2rem;
		vertical-align: top;
	}

		[class*="l-block"] > * {
			font-size: 100%;
			vertical-align: baseline;
		}

	.l-block-1 { width: 16.666666667%; }
	.l-block-2 { width: 33.333333333%; }
	.l-block-4 { width: 66.66666666%; }

	.l-block-quarter { width: 25%; }
	.l-block-third { width: 33%; }
	.l-block-half { width: 50%; }
	.l-block-full { width: 100%; }

	.offset-1 { margin-left: 16.666666667%; }
	.offset-2 { margin-left: 33.333333333%; }

	.offset-half { margin-left: 50%; }
	.offset-quarter { margin-left: 25%; }
	.offset-eighth { margin-left: 12.5%; }
}