/*

	Image Viewer Module
	Usage: <div.m-image-viewer>

*/
.image-viewer {
    
}

    .image-viewer img {
        display: block;
    }

    .image-viewer-stage img {
        border-bottom: 1px solid;
    }

    .image-viewer-thumb {

    }

    .image-viewer-thumb img {
        float: left;
    }

    /*this is just highlight difference in mock up, remove it*/
    .image-viewer-thumb:nth-child(2n+2) img {
        opacity: .7;
    }