/*


	State
	
	State changes are represented in one of three ways:

	1. pseudo-class: :something
	2. class name: .is-something, .has-something
	3. media query: @media something {}
	


*/
body:after { content: 'default'; display: none; } /* JS Hook for responsive variables */

/* Media Queries */
@media screen and (min-width: 37.5em) {
	body:after { content: 'small'; } /* JS Hook for responsive variables */
	
	/* --- @small Base --- */
	body { font-size: 87.5%; }
	
	/* --- @small Offscreen Panel --- */
	.os-panel {
		right: -60%;
		width: 60%;
	}
}
@media screen and (min-width: 45em) {
	body:after { content: 'medium'; } /* JS Hook for responsive variables */
	
	/* --- @medium Base --- */
	body { font-size: 100%; }
	
	/* --- @medium Navigation --- */
	.nav-title { display: none; }
	.nav-bar.resp {
		display: inline-block;
		opacity: 1;
		overflow: visible;
		height: auto;
	}
		.nav-bar.resp .nav-item { display: inline-block; }
	
}
@media screen and (min-width: 50em) {
	body:after { content: 'medium2'; } /* JS Hook for responsive variables */
	
	/* --- @medium2 Base --- */
	body { font-size: 112.5%; }
	
	/* --- @medium2 Stage --- */
	.m-stage {
		padding-bottom: 4.5em;
		padding-top: 4.5em;
	}
	
	/* --- @medium2 Navigation --- */
	nav[role="navigation"] {
		font-size: 1em;
	}
	
}
@media screen and (min-width: 60em) {
	body:after { content: 'large'; } /* JS Hook for responsive variables */
	
	/* --- @large Base --- */
	body { font-size: 112.5%; }

	/* --- @large Header --- */
	header[role="banner"] { text-align: left; }
	
		header[role="banner"] .base {
			float: left;
			margin-bottom: 0;
			margin-left: 1em;
		}

		nav[role="navigation"] { float: right; }
	
	/* --- @large Navigation --- */
	.nav-bar { font-size: .888888889em; }
		.nav-item { float: left; }
	
	/* --- @large Offscreen Panel --- */
	.os-panel {
		font-size: 1em;
		right: -22em;
		width: 22em;
	}
	
	/* --- @large Stage --- */
	.m-stage {
		padding-bottom: 6em;
		padding-top: 6em;
	}
	
	/* --- @large Featurettes --- */
	.m-primary-feature {
		margin: 0 1.5em;
	}
	
}
@media screen and (min-width: 90em) {	
	body:after { content: 'wide'; } /* JS Hook for responsive variables */
	
	/* --- @wide Base --- */
	body { font-size: 125%; }
	
	/* --- @wide Featurettes --- */
	.m-primary-feature {
		margin: 0 2.333333333em;
	}
}

/*fade*/

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
     -moz-transition: opacity 0.15s linear;
       -o-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

/*affix*/

.affix { position: fixed; top:0;}

.affix.right { right: 0; }
.affix.left { left: 0; }

/*collapse element*/

.collapse {
	border-top: 1px solid #CCCCCC;
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
     -moz-transition: height 0.35s ease;
       -o-transition: height 0.35s ease;
          transition: height 0.35s ease;
}

.collapse.in {
	border:none;
  height: auto;
}

.collapsed[data-toggle="collapse"]{

}

/*tabbed hide/display*/

.tabs {
	
}

	.tabs li.active {

	}

.tab-content {
	
}

	.tab-pane {
		display: none;
	}

	.tab-pane.active {
		display: block;
	}

/* --- Offscreen Panel --- */
[role="banner"],
[role="main"],
[role="contentinfo"] {
    -webkit-transition: opacity .6s ease, -webkit-filter .6s ease;
       -moz-transition: opacity .6s ease, -moz-filter .6s ease;
         -o-transition: opacity .6s ease, -o-filter .6s ease;
            transition: opacity .6s ease, filter .6s ease;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

.active-os-panel [role="banner"],
.active-os-panel [role="main"],
.active-os-panel [role="contentinfo"] {
	opacity: .2;
/*	
	Cool! But not smooth
	-webkit-filter: blur(.125em);
	   -moz-filter: blur(.125em);
	    -ms-filter: blur(.125em);
	filter: blur(.25em);*/
}

.active-os-panel .os-panel {
	opacity: 1;
	-webkit-box-shadow: 0 0 .333333333em rgba(0, 0, 0, 0.4);
	   -moz-box-shadow: 0 0 .333333333em rgba(0, 0, 0, 0.4);
	     -o-box-shadow: 0 0 .333333333em rgba(0, 0, 0, 0.4);
	        box-shadow: 0 0 .333333333em rgba(0, 0, 0, 0.4);
	-webkit-transform: translate3d(-100%,0,0);
	   -moz-transform: translate3d(-100%,0,0);
	     -o-transform: translate3d(-100%,0,0);
	        transform: translate3d(-100%,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

.no-csstransforms .active-os-panel .os-panel {	
	right: 0;
}