/*

	
	Theme


*/

/* Local Fonts */
@font-face {
    font-family: 'dosis-bold';
    src: url('../fonts/dosis-bold-webfont.eot');
    src: url('../fonts/dosis-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-bold-webfont.woff') format('woff'),
         url('../fonts/dosis-bold-webfont.ttf') format('truetype'),
         url('../fonts/dosis-bold-webfont.svg#dosisbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dosis-medium';
    src: url('../fonts/dosis-medium-webfont.eot');
    src: url('../fonts/dosis-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-medium-webfont.woff') format('woff'),
         url('../fonts/dosis-medium-webfont.ttf') format('truetype'),
         url('../fonts/dosis-medium-webfont.svg#dosismedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dosis-regular';
    src: url('../fonts/dosis-regular-webfont.eot');
    src: url('../fonts/dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-regular-webfont.woff') format('woff'),
         url('../fonts/dosis-regular-webfont.ttf') format('truetype'),
         url('../fonts/dosis-regular-webfont.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dosis-semibold';
    src: url('../fonts/dosis-semibold-webfont.eot');
    src: url('../fonts/dosis-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-semibold-webfont.woff') format('woff'),
         url('../fonts/dosis-semibold-webfont.ttf') format('truetype'),
         url('../fonts/dosis-semibold-webfont.svg#dosissemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*/////////////////////////////////////////////////
Global
/////////////////////////////////////////////////*/

html {
	background-color: #eef0f7;
}

body {
	background-color: #eef0f7;
	color: #454545;
	font-family: "Open Sans", sans-serif;
	font-size: 75%;
	overflow-x: hidden;
}

/* Lead */
.lead {
	font-size: 1.125em;
	font-weight: lighter;
	margin-bottom: 1.285714286em;
	line-height: 1.285714286;
}

/* Links */
a {
	color: #40190b; /*@t-brown*/
}

a.clean {
	border-bottom: 0;
}

small { color: #999; }

/* Buttons */
.btn {
	background-color: #40190b; /*@t-brown*/
	border: none;
	-webkit-border-radius: 0.125em;
	   -moz-border-radius: 0.125em;
	        border-radius: 0.125em;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	     -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	color: white;
	display: inline-block;
	font-family: "dosis-medium";
	font-weight: normal;
	font-size: 1em;
	line-height: 1;
	padding: 1em 1.5em;
	text-transform: uppercase;
	*zoom: 1;
}

	.btn.small {
		font-size: .777777778em;
		padding: 0.55em 1em;
	}

	.btn.light {
		background-color: #f1f1f1; /*@t-warmgray*/
		border-top: 1px solid #fafafa;
		color: #40190b; /*@t-brown*/
	}
	
	.btn.secondary { background-color: #454545; color: #EFEFF7; border: 1px solid #4a4a4a; }
	.btn.secondary:hover { background-color: #252525; }
	.btn.secondary:focus { -webkit-box-shadow: 0 0 5px #e9e9e9, 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 0 5px #e9e9e9, 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 0 5px #e9e9e9, 0 1px 0 rgba(255, 255, 255, 0.5) inset; }

	.btn.facebook { background-color: #3B5998; color:#FFF; }
	.btn.facebook:hover { background-color: #4B67A1; }

	.btn.twitter { background-color: #00A0D1; color:#FFF; }
	.btn.twitter:hover { background-color: #06546E; }


.bkg-light { background-color: #F7F7F7; }


/*/////////////////////////////////////////////////
Common Elements
/////////////////////////////////////////////////*/

.popover-trigger { cursor: pointer; }

.img-circle {
	border-radius: 500px;
}

.panel { background-color: #DEDFE4; }

.panel hr { border-color: #AAA; }

	.bordered {
		border: 1px solid rgba(0,0,0,0.125);
	}

	.inset {	
		-webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.75), inset 0 1px 1px rgba(0,0,0,0.2);
		   -moz-box-shadow: 0 1px 1px rgba(255,255,255,0.75), inset 0 1px 1px rgba(0,0,0,0.2);
		     -o-box-shadow: 0 1px 1px rgba(255,255,255,0.75), inset 0 1px 1px rgba(0,0,0,0.2);
		        box-shadow: 0 1px 1px rgba(255,255,255,0.75), inset 0 1px 1px rgba(0,0,0,0.2);
	}

i.sign {
	background-color: #454545;
	color: #EFEFF7;
	border-radius: 500px;
	font-family: "dosis-medium";
	font-style: normal;
	font-size: 200%;
	float: left;
	height: 1.5em;
	line-height: 1.5;
	overflow: hidden;
	text-align: center;
	width: 1.5em;
}

i.sign.left { margin-right: .25em; }
i.sign.right { margin-left: .25em; }

.category-label { 
	background-color: #66C7BE;
	color:#FFF;
	padding:0 0.5em;
	display: inline;
	font-family: "dosis-medium";
	font-weight: bold;
	line-height: 1;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}
	.category-label .second-skin { background-color: #66C7BE; } /*why the hell isn't this working?*/

/* Forms ---------------------- */

label { color: #555; }

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea { background-color: #F3F4F9; }

/* Tables ---------------------- */
table.display { background: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin: 0 0 1.5em; border: 1px solid #ddd; }

table.display thead, table.display tfoot { background: #F1F1F1; }

table.display thead tr th, table.display tfoot tr th, table.display tbody tr td, table.display tr td, table.display tfoot tr td { font-size: 1em; line-height: 1; text-align: left; }

table.display thead tr th, table.display tfoot tr td { padding: 0.75em; font-size: 1em; font-weight: bold; color: #222; }

table.display thead tr th:first-child, table.display tfoot tr td:first-child { border-left: none; }

table.display thead tr th:last-child, table.display tfoot tr td:last-child { border-right: none; }

table.display tbody tr.even, table.display tbody tr.alt { background: #F5F6FA; }

table.display tbody tr:nth-child(even) { background: #F5F6FA; }

table.display tbody tr td { color: #333; padding: .75em; vertical-align: top; border: none; }

/*/////////////////////////////////////////////////
Header
/////////////////////////////////////////////////*/ 

header[role="banner"] {
	background-color: #f1f1f1; /*@t-wramgray*/
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	   -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	     -o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	padding: 1.5em 0;
	position: relative;
	text-align: center;
	z-index: 1;
}

	header[role="banner"] a {
		border: none;
	}
	
		header[role="banner"] .base {
			display: block;
			margin-bottom: 1.5em;
		}
		
			header[role="banner"] .base .icon-home {
				opacity: 0;
			}
			
			header[role="banner"] .base:hover .icon-home {
				opacity: 1;
			}
	
		header[role="banner"] .logo {
			height: .888888889em;
		}


	/*/////////////////////////////////////////////////
	Navigation
	/////////////////////////////////////////////////*/	

	nav[role="navigation"] {
		font-size: 1.25em;
	}

	.nav-bar.resp {
		display: block;
	}

	.nav-title.toggle {
		font-size: 1em;
	}

	.nav-bar {
		font-family: "dosis-medium";
		text-transform: uppercase;
	}
		
		.nav-item {
			line-height: 1.5;
		}
		
			.nav-item > a {
				padding: 0 .75em;
			}

/*/////////////////////////////////////////////////
Checkout
/////////////////////////////////////////////////*/
.checkout-step {}

	.checkout-head h2 { color:#454545; }
	
	.checkout-content details:not([open]) { background-color:#EAEBF0; }

	.checkout-content .m-cart-table { font-size: 80%; }

/*/////////////////////////////////////////////////
Footer
/////////////////////////////////////////////////*/

footer[role="contentinfo"] {
	background-color: #d4d4d4;
	color: #454545;
	font-size: .888888889em;
}

	footer[role="contentinfo"] a {
		border: none;
		color: #6f6f6f;
	}

	footer[role="contentinfo"] a:hover {
		color: inherit;
	}

	.footboard {
		background-color: #dbdbdb;
		border-bottom: 1px solid #B7BABF;
		padding: 1.5em 2.33333em;
	}

		.footboard form {
			margin-bottom: 0;
		}

	.sitemap {
		padding-top:3em;
	}

		.sitemap-header {
			color:#555;
		}

		.social-btn {
			float: left;
			font-size: 2.5em;
			-webkit-transition:all .5s ease-out;
			   -moz-transition:all .5s ease-out;
			     -o-transition:all .5s ease-out;
			    -ms-transition:all .5s ease-out;
			        transition:all .5s ease-out;
		}

		.social-btn.social-facebook:hover a {
			color:#3B5998;
		}

		.social-btn.social-twitter:hover a {
			color:#4099FF;
		}

		.social-btn.social-pintrist:hover a {
			color:#CB2027;
		}


/*/////////////////////////////////////////////////
Page
/////////////////////////////////////////////////*/



/*
Modules
*/

/* --- Stage --- */
.m-stage {
	padding: 3em 1.5em;
	position: relative;
	text-align: center;
}

	/* Stage background */
	.m-stage {
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMiIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background: -moz-radial-gradient(center top, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.2)));
		background: -webkit-radial-gradient(center top, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
		background: -o-radial-gradient(center top, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
		background: -ms-radial-gradient(center top, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
		background: radial-gradient(ellipse at center top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%);
	}

		.m-stage:before,
		.m-stage:after {
			bottom: 0;
			content: ' ';
			display: block;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		.m-stage:before {
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjBiMTJmIiBzdG9wLW9wYWNpdHk9IjAuMDciLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YwYjEyZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(45deg, rgba(240,177,47,0.07) 0%, rgba(240,177,47,0) 100%);
			background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(240,177,47,0.07)), color-stop(100%,rgba(240,177,47,0)));
			background: -webkit-linear-gradient(45deg, rgba(240,177,47,0.07) 0%,rgba(240,177,47,0) 100%);
			background: -o-linear-gradient(45deg, rgba(240,177,47,0.07) 0%,rgba(240,177,47,0) 100%);
			background: -ms-linear-gradient(45deg, rgba(240,177,47,0.07) 0%,rgba(240,177,47,0) 100%);
			background: linear-gradient(45deg, rgba(240,177,47,0.07) 0%,rgba(240,177,47,0) 100%);
		}

		.m-stage:after {
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNjVjN2JlIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY1YzdiZSIgc3RvcC1vcGFjaXR5PSIwLjEyIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(-45deg, rgba(101,199,190,0) 0%, rgba(101,199,190,0.12) 100%);
			background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(101,199,190,0)), color-stop(100%,rgba(101,199,190,0.12)));
			background: -webkit-linear-gradient(-45deg, rgba(101,199,190,0) 0%,rgba(101,199,190,0.12) 100%);
			background: -o-linear-gradient(-45deg, rgba(101,199,190,0) 0%,rgba(101,199,190,0.12) 100%);
			background: -ms-linear-gradient(-45deg, rgba(101,199,190,0) 0%,rgba(101,199,190,0.12) 100%);
			background: linear-gradient(135deg, rgba(101,199,190,0) 0%,rgba(101,199,190,0.12) 100%);
		}
		
		/*fix content over background*/
		.m-stage > * {
			position: relative;
			z-index: 1;
		}
		
/* --- Standard Page Header --- */
.page-header {
	padding: 3em 0 1.5em;
	text-align: center;
}

/* --- Features --- */
.m-secondary-feature {
	-webkit-transition: background .125s;
	   -moz-transition: background .125s;
	     -o-transition: background .125s;
	        transition: background .125s;
}

	.sf-title {
		-webkit-transition: color .125s;
		   -moz-transition: color .125s;
		     -o-transition: color .125s;
		        transition: color .125s;
	}

.m-secondary-feature.second-skin,
.second-skin .sf-title { color: #65c7be; }

.m-secondary-feature.active,
.active .sf-title { color: #f0b12f; }

.m-secondary-feature.sport,
.sport .sf-title { color: #ef4136; }

.m-secondary-feature:hover .sf-title {
	color: white;
}

.m-secondary-feature.second-skin:hover,
.m-secondary-feature.second-skin:hover .sf-title {
	background-color: #65c7be;
}

.m-secondary-feature.active:hover,
.m-secondary-feature.active:hover .sf-title {
	background-color: #f0b12f;
}

.m-secondary-feature.sport:hover,
.m-secondary-feature.sport:hover .sf-title {
	background-color: #ef4136;
}
