        {{> footer}}

        {{> utility}}

        <!-- Scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="scripts/lib/jquery.js"><\/script>')</script>

        <script src="scripts/framework/bootstrap.js?{{ timestamp }}"></script>
        <script src="scripts/framework/foundation.js?{{ timestamp }}"></script>
        <script src="scripts/plugins.js?{{ timestamp }}"></script>
        <script src="scripts/script.js?{{ timestamp }}"></script>
        
        <!-- Better double bag it... -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
	</body>
</html>
