        {{> footer}}

        {{> utility}}

        <!-- Scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="scripts/lib/jquery.js"><\/script>')</script>

        <script src="scripts/framework/bootstrap.js?{{ timestamp }}"></script>
        <script src="scripts/framework/foundation.js?{{ timestamp }}"></script>
        <script src="scripts/plugins.js?{{ timestamp }}"></script>
        <script src="scripts/script.js?{{ timestamp }}"></script>
        
	</body>
</html>
