<footer role="contentinfo">
	<div class="l-wrapper l-alignCenter">
		{{> m-newsletter }}
	</div>
	<hr>
	<div class="l-wrapper">	
		<div class="row">
			{{#footer}}
				<div id="{{id}}" class="l-block-quarter">
					<h4>{{ title }}</h4>
					<ul>
						{{#children}}
							<li{{#class}} class="{{class}}"{{/class}}>{{#href}}<a href="{{ href }}">{{/href}}{{ title }}{{#href}}</a>{{/href}}</li>
						{{/children}}
					</ul>
				</div>
			{{/footer}}
		</div>
		<div class="row">
			<span class="copyright">{{copyright}}</span>
		</div>
	</div>
</footer>