<footer role="contentinfo">
	<div class="l-wrapper">
	    {{> m-newsletter }}	
		<div class="row">
			{{#sitemap}}
				<div class="l-block-quarter">
					<h2>{{ title }}</h4>
					<ul>
						{{#children}}
                        <li{{#class}} class="{{class}}"{{/class}}>{{#href}}<a href="{{ href }}">{{/href}}{{ title }}{{#href}}</a>{{/href}}</li>
						{{/children}}
					</ul>
				</div>
			{{/sitemap}}
		</div>
        <p class="copyright"><small>{{ copyright }}</small></p>
	</div>
</footer>