<header role="banner">
	<div class="row">
		
		<a href="./" class="base">
            <img src="images/tommyjohn.png" class="logo" alt="Tommy John">
		</a>
		
		<nav role="navigation">
            <h2 class="nav-title toggle">Menu</h2>
            <ul class="hlist nav-bar resp">
                {{#primary-nav}}
                <li class="hlist-item nav-item{{#dropdown}} dropdown{{/dropdown}}">
                    <a href="{{id}}"{{#utility}} class="os-toggle" data-target="#{{id}}"{{/utility}}{{#dropdown}} class="dropdown-toggle" data-toggle="dropdown"{{/dropdown}}>
						{{#extra}}<div class="user-id">
							Matt Kritzer
						</div>{{/extra}}
						{{title}}
					</a> <!-- <i class="icon-{{icon}}"></i> -->
                    
                    {{# dropdown}}<ul class="dropdown-menu">{{/ dropdown}}
                        {{# children}}
                            <li><a href="{{ child-id }}">{{ child-title }}</a></li>
                        {{/ children}}
                    {{# dropdown}}</ul>{{/ dropdown}}
                </li>
                {{/primary-nav}}
            </ul>
            <ul class="hlist nav-bar util">
                {{#util-nav}}
                <li class="hlist-item nav-item">
                    <a href="{{id}}" class="cart-link os-toggle" data-target="#{{ id }}">
                        <span>{{title}}</span>
                        <img src="images/icons/thermo-10-percent-off.png" class="mini-thermo" alt="Buy more save more: 10% Off">
                    </a>
                </li>
                {{/util-nav}}
            </ul>
		</nav>
		
	</div>
</header>