<header role="banner">
	<div class="row">
		
		<a href="{{base}}">
            <!-- <object data="images/tommyjohn.svg" type="image/svg+xml" class="logo">
                <img src="images/tommyjohn.png" class="logo" alt="Tommy John">
            </object> -->
            <img src="images/tommyjohn.svg" class="logo" alt="Tommy John">
		</a>
		
		<nav role="navigation">
            <h2>Site Navigation</h2>
            <ul class="hlist nav-bar">
                {{#pages}}
                <li class="hlist-item nav-item{{# dropdown}} dropdown{{/ dropdown}}">
                    <a href="{{id}}"{{# dropdown}} class="dropdown-toggle" data-toggle="dropdown" data-target="#{{ id }}"{{/ dropdown}}>{{title}}{{# dropdown}} <i class="icon-caret-down"></i>{{/ dropdown}}</a>
                    {{# dropdown}}<ul class="dropdown-menu">{{/ dropdown}}
                        {{# children}}
                            <li><a href="{{ child-id }}">{{# icon }}<i class="icon-{{ icon }}"></i> {{/ icon }}{{ child-title }}</a></li>
                        {{/ children}}
                    {{# dropdown}}</ul>{{/ dropdown}}
                </li>
                {{/pages}}
            </ul>
		</nav>
		
	</div>
</header>