
                <!-- payment form -->
                <form action="">
                    <div class="input-row row">
                        <label for="cc" class="column"><input id="cc" type="radio" name="payment-method"> Credit Card</label>
                    </div>
                    <div class="account-payment-cc">
                        <div class="input-row row">
                            <label for="" class="one column inline">Card Type</label>
                            <select name="" id="" class="three column end">
                                <option value="">Entry 1</option>
                                <option value="">Entry 2</option>
                                <option value="">Entry 3</option>
                                <option value="">Entry 4</option>
                            </select>
                        </div>
                        <div class="input-row row">
                            <label for="" class="one column inline">Card Number</label>
                            <input type="text" class="three column end">
                        </div>
                        <div class="input-row row">
                            <label for="" class="one column inline">Expiration</label>
                            <select name="" id="" class="one column">
                                <option value="">Entry 1</option>
                                <option value="">Entry 2</option>
                                <option value="">Entry 3</option>
                                <option value="">Entry 4</option>
                            </select>
                            <select name="" id="" class="two column end">
                                <option value="">Entry 1</option>
                                <option value="">Entry 2</option>
                                <option value="">Entry 3</option>
                                <option value="">Entry 4</option>
                            </select>
                        </div>
                        <div class="input-row row">
                            <label for="" class="one column inline">CVN</label>
                            <input type="text" class="three column"><small class="one column end"><a id="cvn" class="pointer popover-trigger" data-title="Consumer Verification Number" data-content="The CVN number is the last three digets on the back of your credit card">What is this?</a></small>
                        </div>
                    </div>
                    <div class="input-row row">
                        <label for="paypal" class="column"><input id="paypal" type="radio" name="payment-method"> PayPal</label>
                    </div>
                    <a class="btn large three offset-by-one" href="#account-payment" data-toggle="collapse" data-target="#payment,#review">Continue</a>
                </form>
                <!-- /payment form -->