
                <!-- payment form -->
                    <div class="input-row row">
                        <label for="cc" class="column" data-toggle="collapse" data-target=".account-payment-cc"><input id="cc" type="radio" name="payment-method"> Credit Card</label>
                    </div>
                    <div class="account-payment-cc collapse">
                        <div class="input-row row">
                            <label for="">Card Type</label><br>
                            <select name="" id="" class="four">
                                <option value="">Entry 1</option>
                                <option value="">Entry 2</option>
                                <option value="">Entry 3</option>
                                <option value="">Entry 4</option>
                            </select>
                        </div>
                        <hr class="space">
                        <div class="input-row row">
                            <label for="">Card Number</label>
                            <input type="text">
                        </div>
                        <div class="input-row row">
                            <label for="">Expiration</label>
                        </div>
                        <div class="input-row row">
                            <select name="" id="" class="two column">
                                <option value="">Entry 1</option>
                                <option value="">Entry 2</option>
                                <option value="">Entry 3</option>
                                <option value="">Entry 4</option>
                            </select>
                            <select name="" id="" class="four column end">
                                <option value="">Entry 1</option>
                                <option value="">Entry 2</option>
                                <option value="">Entry 3</option>
                                <option value="">Entry 4</option>
                            </select>
                        </div>
                        <hr class="space">
                        <div class="input-row row">
                            <label for="">CVN <small><a id="cvn" class="pointer popover-trigger" data-title="Consumer Verification Number" data-content="The CVN number is the last three digets on the back of your credit card">What is this?</a></small></label>
                            <input type="text" class="two">
                        </div>
                    </div>
                    <div class="input-row row">
                        <label for="paypal" class="column"><input id="paypal" type="radio" name="payment-method"> PayPal</label>
                    </div>
                <!-- /payment form -->