<div class="address-name">{{ name }}</div>
<div class="address-line1">{{ address }}</div>
<div class="address-line2">{{ address2 }}</div>
<div class="address-region"><span class="address-city">{{ city }},</span> <span class="address-state">{{ state }}</span> <span class="address-zip">{{ zip }}</span></div>