                <!-- shipping address form -->
                <div class="input-row row">
                    <label for="" class="">First Name</label>
                    <input id="" type="text" class="">
                </div>
                <div class="input-row row">
                    <label for="" class="">Last Name</label>
                    <input id="" type="text" class="">
                </div>
                <div class="input-row row">
                    <label for="" class="">Company</label>
                    <input id="" type="text" class="">
                </div>
                <div class="input-row row">
                    <label for="" class="">Address</label>
                    <input id="" type="text" class="">
                </div>
                <div class="input-row row">
                    <label for="" class="hide">Address 2</label>
                    <input id="" type="text" class="">
                </div>
                <div class="input-row row">
                    <div class="three column">
                        <label for="" class="">City</label>
                        <input id="" type="text" class="">
                    </div>
                    <div class="three column">
                        <label for="" class="">State</label>
                        <select name="" id="" class="">
                            <option value="">Entry 1</option>
                            <option value="">Entry 2</option>
                            <option value="">Entry 3</option>
                        </select>
                    </div>
                </div>
                <div class="input-row row">
                    <div class="three column">
                        <label for="" class="">Country</label>
                        <select name="" id="" class="">
                            <option value="">Entry 1</option>
                            <option value="">Entry 2</option>
                            <option value="">Entry 3</option>
                        </select>
                    </div>
                    <div class="three column">
                        <label for="" class="">Postal Code</label>
                        <input id="" type="text" class="">
                    </div>
                </div>
                <div class="input-row row">
                    <label for="" class="">Telephone</label>
                    <input id="" type="text" class="">
                </div>
                <div class="input-row row">
                    <label for="saveAddress" class=""><input type="checkbox" id="saveAddress"> Save Address</label>
                    <input id="" type="text" class="" placeholder="Address save name">
                </div>
                <!-- /shipping address form -->