
                    <!-- account log in -->
                    <h2>Returning Customer</h2>
                    <!-- the buttons are set up for the checkout page, this functionality will need to be adjusted -->
                    <a class="btn btn-large expand" href="#checkout-account" data-toggle="collapse" data-target="#checkout,#billing">Login with Facebook</a>
                    <p class="text-center">or</p>
                    <form action="">
                        <div class="input-row">
                            <label for="email">Email</label>
                            <input id="email" type="text">
                        </div>
                        <div class="input-row">
                            <label for="password">Password</label>
                            <input id="password" type="password">
                        </div>
                        <a class="btn btn-large" href="#checkout-account" data-toggle="collapse" data-target="#checkout,#billing">Log in</a>
                    </form>
                    <!-- /account log in -->
