                <!-- create account -->
                    <h2>New Customer</h2>
                    <!-- the buttons are set up for the checkout page, this functionality will need to be adjusted -->
                    <a class="btn large expand" href="#checkout-account" data-toggle="collapse" data-target="#checkout,#billing">Create and account with Facebook</a>
                    <p class="text-center">or</p>
                    <form action="">
                        <div class="input-row">
                            <label for="new-email">Email</label>
                            <input id="new-email" type="text">
                        </div>
                        <div class="input-row">
                            <label for="new-password">Password</label>
                            <input id="new-password" type="password">
                        </div>
                        <a class="btn large" href="#checkout-account" data-toggle="collapse" data-target="#checkout,#billing">Create Account</a>
                    </form>
                <!-- /create account -->
