<li class="m-wishlist-item row">
	<div class="wishlist-remove column">
		<i class="icon-remove-sign"></i>
	</div>
	<div class="wishlist-img one column">
		<img src="{{ image.thumb }}" alt="">
	</div>
	<div class="wishlist-product-info column">
		<h2 class="wishlist-name">{{ name }} <small class="wishlist-category">{{ category }}</small></h2>
		<p>{{ quantity }} &times; Size: {{ size }}</p>
	</div>
	<div class="wishlist-button two column text-right">
		<a class="btn large" href="">Add to Cart</a>
	</div>
</li>