                <!-- payment info review -->
                <div class="row">
                    <div class="three column">
                        <strong>Card Type</strong>
                    </div>
                    <div class="three column">
                        Visa
                    </div>
                </div>
                <div class="row">
                    <div class="three column">
                        <strong>Card Number</strong>
                    </div>
                    <div class="three column">
                        ***********5555
                    </div>
                </div>
                <div class="row">
                    <div class="three column">
                        <strong>Expires</strong>
                    </div>
                    <div class="three column">
                        01/18
                    </div>
                </div>
                <div class="row">
                    <div class="three column">
                        <strong>CVN</strong>
                    </div>
                    <div class="three column">
                        1234
                    </div>
                </div>
                <!-- /payment info review -->