<li class="mc-item">
    <div class="mci-delete"><i class="icon-ban-circle"></i></div>
    <div class="mci-info">
        <span class="mci-qty">{{qty}} x </span><a href="{{url}}" class="mci-name">{{name}} {{type}}</a>
        <div>
            <span class="mci-cat category-label">{{category}}</span>
            <span class="mci-price">${{price}} ea.</span>
        </div>
    </div>
    <div class="mci-total">${{total}}</div>
</li>