<li class="mc-item">
    <div class="mci-delete"><i class="icon-remove-sign"></i></div>
    <div class="mci-info">
        <span class="mci-qty">{{qty}} x </span>
        <a href="{{url}}" class="mci-name">{{ name }}</a>
        <div class="mci-cat">{{ category }}</div>
    </div>
    <div class="mci-price">${{ price }}</div>
</li>