                <!-- billing address form -->
                <div class="input-row row">
                    <label for="" class="one column inline">First Name</label>
                    <input id="" type="text" class="three column end">
                </div>
                <div class="input-row row">
                    <label for="" class="one column inline">Last Name</label>
                    <input id="" type="text" class="three column end">
                </div>
                <div class="input-row row">
                    <label for="" class="one column inline">Email</label>
                    <input id="" type="email" class="three column">
                    <small class="one column end">If different than the one you signed up with</small>
                </div>
                <div class="input-row row">
                    <label for="" class="one column inline">Company</label>
                    <input id="" type="text" class="three column end">
                </div>
                <div class="input-row row">
                    <label for="" class="one column inline">Address</label>
                    <input id="" type="text" class="three column end">
                </div>
                <div class="input-row row">
                    <label for="" class="one column inline invisible">Address 2</label>
                    <input id="" type="text" class="three column end push-one">
                </div>
                <div class="input-row row">
                    <label for="" class="one column inline">City</label>
                    <input id="" type="text" class="three column end">
                </div>
                <div class="input-row row">
                    <label for="" class="one column inline">State</label>
                    <select name="" id="" class="three column end">
                        <option value="">Entry 1</option>
                        <option value="">Entry 2</option>
                        <option value="">Entry 3</option>
                    </select>
                </div>
                <div class="input-row row">
                    <label for="" class="one column inline">Postal Code</label>
                    <input id="" type="text" class="three column end">
                </div>
                <div class="input-row row">
                    <label for="" class="one column inline">Country</label>
                    <select name="" id="" class="three column end">
                        <option value="">Entry 1</option>
                        <option value="">Entry 2</option>
                        <option value="">Entry 3</option>
                    </select>
                </div>
                <div class="input-row row">
                    <label for="" class="one column inline">Telephone</label>
                    <input id="" type="text" class="three column end">
                </div>
                <div class="input-row row">
                    <label for="" class="one column inline"><small>Commercial Ad</small></label>
                    <select name="" id="" class="three column end">
                        <option value="">Entry 1</option>
                        <option value="">Entry 2</option>
                        <option value="">Entry 3</option>
                    </select>
                </div>
                <!-- /billing address form -->