<a href="{{ href }}">
{{#wrapper-class}}<div class="{{ wrapper-class }}">{{/wrapper-class}}
  {{#title}}<h2>{{{ title }}}</h2>{{/title}}
  {{#prepend-text}}<p>{{{ prepend-text }}}</p>{{/prepend-text}}
  {{#img}}<img src="{{{ img }}}" alt="{{alt}}">{{/img}}
  {{#append-text}}<p>{{{ append-text }}}</p>{{/append-text}}
{{#wrapper-class}}</div>{{/wrapper-class}}
</a>