<a class="m-primary-feature" href="{{ href }}">
    {{#title}}<h2 class="pf-title">{{{ title }}}</h2>{{/title}}
    {{#img}}<img class="pf-img" src="{{{ img }}}" alt="{{alt}}">{{/img}}
    {{#text}}<p clas="pf-content">{{{ text }}} <em class="pf-action h3">{{action}}</em></p>{{/text}}
</a>