                <!-- billing address form -->
                <div class="input-row">
                    <label for="">First Name</label>
                    <input id="" type="text">
                </div>
                <div class="input-row">
                    <label for="">Last Name</label>
                    <input id="" type="text">
                </div>
                <div class="input-row">
                    <label for="">Email</label>
                    <input id="" type="email"><small>If different than the one you signed up with</small>
                </div>
                <div class="input-row">
                    <label for="">Company</label>
                    <input id="" type="text">
                </div>
                <div class="input-row">
                    <label for="">Address</label>
                    <input id="" type="text"><br>
                    <input id="" type="text">
                </div>
                <div class="input-row">
                    <label for="">City</label>
                    <input id="" type="text">
                </div>
                <div class="input-row">
                    <label for="">State</label>
                    <select name="" id="">
                        <option value="">Entry 1</option>
                        <option value="">Entry 2</option>
                        <option value="">Entry 3</option>
                    </select>
                </div>
                <div class="input-row">
                    <label for="">Zip/Postal Code</label>
                    <input id="" type="text">
                </div>
                <div class="input-row">
                    <label for="">Country</label>
                    <select name="" id="">
                        <option value="">Entry 1</option>
                        <option value="">Entry 2</option>
                        <option value="">Entry 3</option>
                    </select>
                </div>
                <div class="input-row">
                    <label for="">Telephone</label>
                    <input id="" type="text">
                </div>
                <div class="input-row">
                    <label for="">Commercial Ad</label>
                    <select name="" id="">
                        <option value="">Entry 1</option>
                        <option value="">Entry 2</option>
                        <option value="">Entry 3</option>
                    </select>
                </div>
                <!-- /billing address form -->