<a class="m-primary-feature" href="{{ href }}" style="background-image:url({{{ img }}})">
    {{#title}}<h2 class="pf-title">{{{ title }}}</h2>{{/title}}
    {{#text}}<p class="pf-content">{{{ text }}} <em class="pf-action h3">{{action}}</em></p>{{/text}}
</a>