<div class="m-feature-row">
    <div class="m-feature-row-image">
        <img src="{{ img }}" alt="">
    </div>
    <div class="m-feature-row-content">
        <h2 class="m-feature-row-title">{{ title }}</h2>
        <p>{{ text }}</p>
    </div>
</div>