<div class="m-feature-row row">
    <div class="feature-row-image two column">
        <img src="{{ img }}" alt="">
    </div>
    <div class="feature-row-content four column">
        <h2 class="feature-row-title">{{ title }}</h2>
        <p>{{ text }}</p>
    </div>
</div>