<div class="centered m-huge-promo">
    <h2>Us <span class="downcase">vs.</span> Them</h2>
    <div class="row">
        <div class="three column comparison-item">
            <img src="images/vs-them.jpg" alt="Box cut undershirt">
            <h3>Before</h3>
            <p>This is the standard “box cut” undershirt that our competitors make. You are likely wearing one right now and suffering from the dreaded EFG “excess fabric gut” appearance, bunching up, and untucking. Unfortunately, they don’t really fit or work at all as an undershirt.</p>
        </div>
        <div class="three column comparison-item">
            <img src="images/vs-us.jpg" alt="Our slim fitting undershirt">
            <h3>After</h3>
            <p>This is the same model in a Tommy John undershirt. This image is very powerful in that it visually shows <em>why</em> our undershirt actually works.</p>
        </div>
    </div>
</div>