<div class="cat-item">
    <a href="product" class="block">
        <img src="http:images/placehold-350x486.jpg" alt="dummy">
        <h2 class="cat-item-title">{{title}}</h2>
        <h3 class="cat-item-price">$45</h3>
    </a>
        {{> m-review-rating }}
</div>