
        <!-- m-image-viewer -->
        <div class="image-viewer">
            <div class="image-viewer-stage"><img src="images/placehold-480x420.jpg" alt=""></div>
            <div class="image-viewer-nav">
                {{# product.images }}
                <div class="image-viewer-thumb"><img src="{{ thumb }}" alt=""></div>
                {{/ product.images }}
            </div>
        </div>
        <!-- /m-image-viewer -->