<div class="cat-item {{cat-slug}}">
    <a href="product" class="block">
        <img src="http:images/dudebro/category.png" alt="dummy">
        <div class="category-label">{{cat}}</div>
        <h3 class="cat-item-title">{{title}}</h3>
        <div><small>more colors available</small></div>
        <div class="cat-item-price">$45</div>
    </a>
    {{> m-review-rating }}
</div>