
        <!-- m-image-viewer -->
        <div class="image-viewer cf">
            <div class="image-viewer-stage"><img src="//placehold.it/480x420" alt=""></div>
            <div class="image-viewer-nav">
                {{# product.images }}
                <div class="image-viewer-thumb"><img src="{{ thumb }}" alt=""></div>
                {{/ product.images }}
            </div>
        </div>
        <!-- /m-image-viewer -->