<form action="#" method="get" accept-charset="utf-8">
    <div class="input-wrapper input-inset">
    	<input type="email" placeholder="you@domain.com"><button class="btn pull-right" type="button">Sign up for our Newsletter</button>
    </div>
</form>
