<form action="#" method="get" accept-charset="utf-8">
    <div class="m-input-inset">
    	<label for="newsletter" class="inset-wrapper icon-envelope-alt"><input id="newsletter" type="email" placeholder="you@domain.com" required><button class="btn right" type="button">Sign up for our Newsletter</button></label>
    </div>
</form>
