
            <!-- m-product-form-cart -->
            <form action="" class="m-product-form">
                <input type="hidden" name="title" value="{{ product.name }}">
                <input type="hidden" name="price" value="{{ product.price }}">
                <div class="row collapsed"><span class="category-label second-skin">{{ product.category }}</span></div>
                <h1 class="product-form-title">{{ product.name }} <small class="product-form-subtitle">{{ product.subtitle }}</small></h1>
                <div class="product-form-meta">
                    <div class="row collapsed">{{> m-review-rating }} <a href="#reviews">{{ total reviews }} reviews</a></div>
                    <h2 class="product-form-price"><span class="currency-type">$</span>{{ product.price }}</h2>
                </div>
                    {{> m-product-form-size }}
                    {{> m-product-form-color }}
                <fieldset class="product-form-options collapsed">
                    <div class="row collapsed">
                        <div class="one column">
                            <label class="right inline" for="quantity">Qty.</label>
                        </div>
                        <div class="column end">
                            <input class="two" type="number" id="quantity" name="quanitity">
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            <label class="inline" for="purchase-one-time"><input type="radio" id="purchase-one-time" name="purchase"> One time purchase</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="left">
                            <label class="inline" for="purchase-repeat"><input type="radio" id="purchase-repeat" name="purchase"> Delivery every</label>
                        </div>
                        <div class="one column">
                            <input type="number" id="purchase-repeat-months">
                        </div>
                        <div class="column end">
                            <label class="inline" for="purchase-repeat-months">Days</label>
                        </div>
                    </div>
                <div class="row">
                    <a href="cart" class="btn three"><i class="icon-plus icon-large left"></i> Add to <strong>CART</strong></a>
                </div>
                </fieldset>
                
                <p class="product-form-description">
                    {{ product.description }}
                </p>
            </form>
            <!-- /m-product-form-cart -->