
                <!-- m-product-color -->
                <fieldset class="product-form-color">
                    <legend class="one column">Color</legend>
                    <div class="five column">
                    	{{# product.colors }}
                    		<input type="radio" id="color-{{ id }}" name="color" value="{{ id }}"><label class="product-form-color-label" for="color-{{ id }}" title="{{ name }}" style="background-color:#{{ hex }}"><i class="icon-ok"></i><span class="hide">{{ name }}</span></label>
                    	{{/ product.colors }}
                    </div>
                </fieldset>
                <!-- /m-product-color -->