<a class="m-home-promo" href="{{ href }}">
    {{#title}}<h2 class="hp-title">{{{ title }}}</h2>{{/title}}
    {{#img}}<img class="hp-img" src="{{{ img }}}" alt="{{alt}}">{{/img}}
    {{#text}}<p clas="hp-content">{{{ text }}} <em class="hp-action">{{action}}</em></p>{{/text}}
</a>