
        <!-- m-image-viewer -->
        <div class="m-product-image-viewer">
            <div class="image-viewer-stage tab-content">
                {{# product.images }}
                <div id="{{ name }}" class="image-viewer-display tab-pane{{# active }} active{{/ active }}" data-img="{{ large }}">
                    <img src="{{ large }}" alt="">
                </div>
                {{/ product.images }}
            </div>
            <ul class="image-viewer-nav tabs">
                {{# product.images }}
                <li class="image-viewer-thumb{{# active }} active{{/ active }}">
                    <a href="#{{ name }}" data-toggle="tab"><img src="{{ thumb }}" alt=""></a>
                </li>
                {{/ product.images }}
                <li class="image-viewer-thumb">
                    <a href="{{zoom}}" data-toggle="modal" data-target="#zoom"><i class="icon-zoom-in"></i> Zoom</a>
                </li>
            </ul>
        </div>
        <!-- /m-image-viewer -->