            <!-- product table row -->
            <tr>
                <td class="product-table-delete"><i class="btn-round">&times;</i></td>
                <td class="product-table-info">
                    <img  class="product-table-img" src="{{ image.thumb }}" alt="" class="product-table-img">
                    <span class="product-table-name">{{ name }}</span> -
                    <span class="product-table-category">{{ category }}</span> -
                    <span class="product-table-size">{{ size }}</span>
                    {{# autoship }}
                    <span class="product-table-aside">Auto-ship ever {{ autoship }} <a href="#">edit</a></span>
                    {{/ autoship }}
                </td>
                <td class="product-table-price">${{ price }}</td>
                <td class="product-table-quantity">{{ quantity }}</td>
                <td class="product-table-subtotal">$54</td>
            </tr>
            <!-- /product table row -->