<a {{#id}}id="{{id}}" {{/id}}class="m-home-promo" href="{{ href }}">
    <div class="hp-content">
        {{#title}}<h2 class="hp-title">{{{ title }}}</h2>{{/title}}
        {{#text}}<p>{{{ text }}} <b class="hp-action">{{action}}</b></p>{{/text}}
    </div>
    {{#img}}<img class="hp-img" src="{{{ img }}}" alt="{{alt}}">{{/img}}
</a>