
                <!-- m-product-size -->
                <fieldset class="product-size collapsed">
                    <legend>Size:</legend>
                    <input type="radio" id="size-s" name="size" value="s"><label for="size-s" title="Small">S<span class="hide-on-small-screen">mall</span></label>
                    <input type="radio" id="size-m" name="size" value="m"><label for="size-m" title="Small">M<span class="hide-on-small-screen">edium</span></label> 
                    <input type="radio" id="size-l" name="size" value="l"><label for="size-l" title="Small">L<span class="hide-on-small-screen">arge</span></label> 
                    <input type="radio" id="size-xl" name="size" value="xl"><label for="size-xl" title="Small">XL<span class="hide-on-small-screen">arge</span></label> 
                    <input type="radio" id="size-xxl" name="size" value="xxl"><label for="size-xxl" title="Small">XXL<span class="hide-on-small-screen">arge</span></label> 
                </fieldset>
                <!-- /m-product-size -->