<div class="product-attr">
    <img class="product-attr-img" src="{{img}}" alt="{{title}}">
    <div class="product-attr-content">
        <h3 class="product-attr-title">{{ title }}</h3>
        <p class="product-attr-desc">{{{ text }}}</p>
    </div>
</div>