            <!-- single review -->
            <div class="m-review">
                <div class="review-rating row">{{> m-rated }}</div>
                <h4 class="review-title">{{ title }}</h4>
                <div class="review-meta">
                    <span class="review-date">{{ date }}</span>
                    <span class="review-author">{{ author }}</span>
                </div>
                <div class="row">
                    <p>{{ copy }}</p>
                </div>
                <p class="review-author-info">
                    {{ author }}'s info: Height: {{ height }} | Weight: {{ weight }} | Chest: {{ chest }} | Waist: {{ waist }}
                </p>
                <p class="review-interact">
                    <a href="">comment</a> | Was this review helpful> <a href="">Yes</a> <a href="">No</a>
                </p>
            </div>
            <!-- /single review -->