<div class="add-review bordered padded hide-target">
    <h2>Write a review</h2>
    <form action="#" method="post" class="add-review-form" accept-charset="utf-8">
        <div class="field-group">
            <label for="review-rating">Rating</label>
            {{> m-review-rating }}
        </div>
        <div class="field-group">
            <label for="review-text">Your review</label>
            <textarea id="review-text" name="review-text"></textarea>
        </div>
        <fieldset class="row">
            <legend>Your stats</legend>
            <div class="field-group column three">
                <label for="review-height">Height</label>
                <input type="text" id="review-height" name="review-height" value="">
            </div>
            <div class="field-group column three">
                <label for="review-weight">Weight</label>
                <input type="text" id="review-weight" name="review-weight" value="">
            </div>
            <div class="field-group column three">
                <label for="review-chest">Chest</label>
                <input type="text" id="review-chest" name="review-chest" value="">
            </div>
            <div class="field-group column three">
                <label for="review-waist">Waist</label>
                <input type="text" id="review-waist" name="review-waist" value="">
            </div>
        </fieldset>
        <div class="field-group">
            <label for="review-tags">Tags</label>
            <input type="text" id="review-tags" name="review-tags" class="tag-input" value="">
        </div>
        <div class="field-group">
            <input type="submit" name="submit-review" value="Submit Review" class="btn large expand">
            <a href="#" class="btn small light hide-handle">Cancel</a>
        </div>
    </form>
</div>
<!-- /add review -->