<fieldset class="rating">
    <input {{#5star}}checked="checked"{{/5star}}type="radio" id="star5" name="rating" value="5"><label for="star5" title="Excellent!">5 stars</label>
    <input {{#4star}}checked="checked"{{/4star}} type="radio" id="star4" name="rating" value="4"><label for="star4" title="Good">4 stars</label>
    <input {{#3star}}checked="checked"{{/3star}} type="radio" id="star3" name="rating" value="3"><label for="star3" title="Meh">3 stars</label>
    <input {{#2star}}checked="checked"{{/2star}} type="radio" id="star2" name="rating" value="2"><label for="star2" title="Not impressed">2 stars</label>
    <input {{#1star}}checked="checked"{{/1star}} type="radio" id="star1" name="rating" value="1"><label for="star1" title="Terrible">1 star</label>
</fieldset>