<div class="review-comment bordered padded hide-target">
    <h2>Comment</h2>
    <form action="#" method="post" class="add-review-form" accept-charset="utf-8">
        <div class="field-group">
            <label for="comment-text">Your comment</label>
            <textarea id="comment-text" name="review-text"></textarea>
        </div>
        <div class="field-group">
            <input type="submit" name="submit-comment" value="Submit Comment" class="btn small">
            <a href="#" class="btn small light hide-handle">Cancel</a>
        </div>
    </form>
</div>
<!-- /add review -->