<a class="m-secondary-feature {{slug}}" href="{{ href }}"{{#img}} data-img="{{{ img }}}"{{/img}}>
    {{#img}}<img class="sf-img" src="{{{ img }}}" alt="{{alt}}">{{/img}}
    {{#title}}<h2 class="sf-title">{{{ title }}}</h2>{{/title}}
</a>