<a class="m-secondary-feature {{slug}}" href="{{ href }}"{{#img}} data-img="{{{ img }}}"{{/img}}>
    {{#img}}<img class="sf-img" src="{{{ img }}}" alt="{{alt}}">{{/img}}
    <div class="sf-meta">
        {{#title}}<h2 class="sf-title">{{{ title }}}</h2>{{/title}}
        {{#cat}}<small>{{cat}}</small>{{/cat}}
    </div>
</a>