<div role="complimentary" class="os-panel">
    <div class="os-nav-item">
        <a href="#main" class="os-toggle">Back</a>
    </div>
    <ul id="account" class="os-nav-bar">
	    <li class="os-nav-item">
			<a href="#two">One A</a>
		</li>
		<li class="os-nav-item">
			<a href="#three">One B</a>
		</li>
		<li class="os-nav-item">
			<a href="#four">One C</a>
		</li>
		<li class="os-nav-item">
			<a href="#four">One D</a>
		</li>
	</ul>
	<ul id="mini-cart" class="os-nav-bar">
	    <li class="os-nav-item">
			<a href="#two">Two A</a>
		</li>
		<li class="os-nav-item">
			<a href="#three">Two B</a>
		</li>
		<li class="os-nav-item">
			<a href="#four">Two C</a>
		</li>
		<li class="os-nav-item">
			<a href="#four">Two D</a>
		</li>
	</ul>
</div>