<div role="complimentary" class="os-panel">
    <div class="os-nav-item">
        <a href="#main" id="os-close" class="os-toggle">Back</a>
    </div>
    <ul id="account" class="os-nav-bar">
        {{#util-account}}
	    <li class="os-nav-item">
			<a href="{{id}}">{{#icon}}<i class="icon-{{icon}}"></i> {{/icon}}{{title}}</a>
		</li>
		{{/util-account}}
	</ul>
	<div id="cart" class="minicart os-nav-bar">
    	<ul class="mc-items">
    	    {{# minicart.products }}
            {{> m-cart-mini-item }}
            {{/ minicart.products }}
    	</ul>
        <dl class="mc-totals">
            <dt class="mct-label">Item Subtotal</dt>
            <dd class="mct-amount">$214</dd>
            <dt class="mct-label">Buy more save more discount</dt>
            <dd class="mct-amount">- $53</dd>
            <dt class="mct-label mct-total">SubTotal</dt>
            <dd class="mct-amount mct-total">$160.5</dd>
            <dd><small>Tax and shipping calculated at checkout</small></dd>
        </dl>
        <div class="mc-actions">
            <a href="checkout" class="btn light">Review &amp; <b>Checkout</b></a>
        </div>
	</div>
</div>