{{> head }}
		
<article role="main">
    <div class="m-nav left padded" data-spy="affix" data-offset-top="113">
        <ol>
            <li class="icon-gift"><a href="wishlist">Wishlist</a></li>
            <li class="icon-cogs"><a href="">Account Dashboard</a></li>
            <li class="icon-info-sign"><a href="">Account Information</a></li>
            <li class="icon-map-marker"><a href="">Address Book</a></li>
            <li class="icon-shopping-cart"><a href="">Order History</a></li>
            <li class="icon-trophy"><a href="">Store Credit</a></li>
            <li class="icon-credit-card"><a href="">Gift Certificate</a></li>
        </ol>
    </div>
    <div class="content row">
        <div class="three centered column">
            <h1>{{ meta.title }} <i class="icon-cogs"></i></h1>
            <p>Hi {{ name }}! Welcome to your account overview</p>
        </div>
        <div class="row">
            <div class="three centered column"><h2>Account Information <a class="btn tiny" href=""><i class="icon-cog"></i> edit</a></h2>
                <p>
                    {{ full name }}<br>
                    {{ email }}
                </p>
                <h2>Default Billing Address <a class="btn tiny" href=""><i class="icon-cog"></i> edit</a> <a class="btn tiny" href=""><i class="icon-plus"></i> add</a></h2>
                <p>
                    {{# billing }}
                        {{> m-account-address }}
                    {{/ billing }}
                </p>
                <h2>Default Shipping Address <a class="btn tiny" href=""><i class="icon-cog"></i> edit</a> <a class="btn tiny" href=""><i class="icon-plus"></i> add</a></h2>
                <h3>Home</h3>
                <p>
                    {{# shipping }}
                        {{> m-account-address }}
                    {{/ shipping }}
                </p>
                <h3>Work</h3>
                <p>
                    {{# shipping2 }}
                        {{> m-account-address }}
                    {{/ shipping2 }}
                </p>
                <h2>Order History</h2>
                <p>Want to auto-refresh your dresser? Perhaps you'd be interested in a <a href="">subscription</a></p>
                <!-- order history -->
                <div class="m-order-history">
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Order #</th>
                                <th>Date</th>
                                <th>Shipped to</th>
                                <th>Total</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /order history --></div>
        </div>
	</div>

</article>
		
{{> sidebar }}

{{> foot }}