{{> head }}
		
<article role="main">
    <div class="content row">
        <h1>{{ meta.title }}</h1>
        <div class="m-primary-feature padded">
            {{# cart }}
                {{> m-cart-table }}
            {{/ cart }}
            <div>
                <a href="">Update Cart</a>
                <a href="category">Continue Shopping</a>
            </div>
        </div>

        <hr class="space">

        <div class="row">
            <div class="two column">
                <div class="m-primary-feature padded">
                    <!-- promo code -->
                    <h2>Promotional Code</h2>
                    <input type="text">
                    <label for=""><a href="">apply code</a></label>
                    <h2>Gift Certificate</h2>
                    <input type="text">
                    <label for=""><a href="">apply code</a></label>
                    <!-- /promo code -->
                </div>
            </div>
            <div class="two column">
                <div class="m-primary-feature padded">
                <!-- shipping calculator -->
                    <h2>Estimate Tax &amp; Shipping</h2>
                    <div>
                        <label for="country">Country</label>
                        <select name="country" id="country">
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div>
                        <label for="state">State/Province</label>
                        <select name="state" id="state">
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div>
                        <label for="postal">Postal Code</label>
                        <input type="number">
                    </div>
                    <a href="">Calculate Shipping</a>
                <!-- /shipping calculator -->
                </div>
            </div>
            <div class="two column">
                <div class="m-primary-feature padded">
                <!-- cart total -->
                    <table class="text-right">
                        <tr>
                            <td><h2>Subtotal:</h2></td>
                            <td> $125</td>
                        </tr>
                        <tr>
                            <td>Tax &amp; Shipping:</td>
                            <td>$7</td>
                        </tr>
                        <tr>
                            <td><h1><small>Total:</small></h1></td>
                            <td><h1>$125</h1></td>
                        </tr>
                    </table>
                    <a class="btn large expand" href="checkout">Proceed to Checkout</a>
                <!-- /cart total -->
                </div>
            </div>
        </div>
	</div>

</article>
		
{{> sidebar }}

{{> foot }}