{{> head }}
		
<article role="main">
    <header class="stage">
        
        <div class="row">
            <h1 class="heading">{{stage.heading}}</h1>
            <p class="lead">{{stage.lead}}</p>
        </div>
        
	</header>
	<div class="content">
	    
	    <div class="row">
            {{#undershirts}}
                <div class="quarter column">
                    {{> m-item }}
                </div>
            {{/undershirts}}
        </div>
        
	</div>
</article>
		
{{> sidebar }}

{{> foot }}