{{> head }}
		
<article role="main">
    <header class="m-stage">
        
        <div class="row">
            <div class="m-stage-content four centered column">
                <h1 class="heading">{{stage.heading}}</h1>
				<details>
					<summary>Learn more</summary>
					<p class="lead">{{stage.lead}}</p>
				</details>
            </div>
        </div>
        
	</header>
	<div class="content">
	    
	    <div class="row">
	        <h2 class="cat-title text-center">Undershirts</h2>
            {{#cat-items}}
                <div class="quarter column">
                    {{> m-item }}
                </div>
            {{/cat-items}}
        </div>
        <div class="row">
	        <h2 class="cat-title text-center">Underwear</h2>
            {{#cat-items}}
                <div class="quarter column">
                    {{> m-item }}
                </div>
            {{/cat-items}}
        </div>
        
	</div>
</article>
		
{{> sidebar }}

{{> foot }}