{{> head }}
		
<article role="main">
    <div class="content">

        <div class="row">
            <header class="page-header">
                <h1>Create your account</h1>
            </header>
            <div class="two centered column">
                
                <!-- login -->
                <div class="padded">
                    <a href="#facebook-create" class="btn large expand facebook">Create account with FaceBook</a>
                </div>
                <p>Get a free pair of underwear with undershirt purchase when you create your account via FaceBook. <a href="starterkit">Details</a></p>
                <p class="seperator horizontal"><em>or</em></p>
                <form action="#create-account" method="post" accept-charset="utf-8">
                    <fieldset>
                        <div class="input-row">
                            <label for="email">Email</label>
                            <input id="email" type="email" required>
                        </div>
                        <div class="input-row">
                            <label for="password">Password</label>
                            <input id="password" type="password" required>
                        </div>
                        <div class="input-row">
                            <label for="fname">First Name</label>
                            <input id="fname" type="text">
                        </div>
                        <div class="input-row">
                            <label for="lname">Last Name</label>
                            <input id="lname" type="text">
                        </div>
                    </fieldset>
                    <fieldset>
                        <input type="submit" name="create-account" value="Create account with Tommy John" class="btn large expand">
                    </fieldset>
                    
                </form>
                <!-- /login -->
                
            </div>
        </div>
        
	</div>
</article>
		
{{> sidebar }}

{{> foot }}