{{> head }}

<div role="main">
    <div class="m-stage row">
        
        <div class="four column centered text-center">
            <div class="m-stage-content">
                <h1 class="heading">{{stage.heading}}</h1>
                <p class="lead">{{stage.lead}}</p>
                <p><a href="category" class="btn">Shop Now</a></p>
                <p>or <a href="technology">Learn More</a></p>
            </div>
        </div>
        
	</div>
	<div class="content">
	    
	    <div class="m-primary-features row">
	    	{{#primary-feature}}
    		<div class="two columns text-center">
    			{{> m-feature}}
    		</div>
	    	{{/primary-feature}}
        </div>

        <hr>

        <div class="m-secondary-features row">
            <!-- <h2>Categories</h2> -->
            {{#secondary-feature}}
            <div class="two columns text-center">
                {{> m-secondary-feature}}
            </div>
            {{/secondary-feature}}
        </div>

        <div class="row">
            {{#promos}}
            <div class="three columns text-center">
                {{> m-promo}}
            </div>
            {{/promos}}
        </div>
        
	</div>
</div>
		
{{> sidebar}}

{{> foot }}