{{> head }}

<div role="main">
    <header class="stage">
        
        <div class="l-wrapper">
            <h1 class="heading">{{stage.heading}}</h1>
            <p class="lead">{{stage.lead}}</p>
            <p><a href="shop" class="btn">Shop Now</a></p>
            <p>or <a href="technology">Learn More</a></p>
        </div>
        
	</header>
	<div class="content">
	    
	    <div class="l-wrapper">
  	    <div class="l-grid-six">
          <div class="l-block-third">
            <img src="http://placehold.it/350x200" alt="">
            <p>What makes our underwear better than any other? <a href="technology">learn about our technology and fit</a></p>
          </div>
          <div class="l-block-third">
            <img src="http://placehold.it/350x200" alt="">
            <p>What makes our underwear better than any other? <a href="technology">learn about our technology and fit</a></p>
          </div>
          <div class="l-block-third">
            <img src="http://placehold.it/350x200" alt="">
            <p>What makes our underwear better than any other? <a href="technology">learn about our technology and fit</a></p>
          </div>
        </div>
      </div>

      <hr>

      <div class="l-wrapper">
      	<div class="l-grid-six">
      		<div class="l-block-third l-alignCenter">
      			<div class="l-padded"><img src="http://placehold.it/350x200" alt="">
      				<p><a href="category">Second Skin</a></p>
      			</div>
      		</div>
      		<div class="l-block-third l-alignCenter">
      			<div class="l-padded"><img src="http://placehold.it/350x200" alt="">
      				<p><a href="category">Sport</a></p>
      			</div>
      		</div>
      		<div class="l-block-third l-alignCenter">
      			<div class="l-padded"><img src="http://placehold.it/350x200" alt="">
      				<p><a href="category">Active</a></p>
      			</div>
      		</div>
      	</div>
      </div>

      <div class="l-wrapper">
      	<div class="l-grid-six">
      		<div class="l-block-half l-alignCenter l-alignMiddle">
      			<p class="large">The Tommy John Challenge promo</p>
      		</div>
      		<a href="starter-kit" class="l-block-half l-alignCenter l-alignMiddle">
      			<h2>The Starter Kit</h2>
      			<p class="large">Purchase and Lorem ipsum <strong>free</strong> dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
      			<p>details</p>
      		</a>
      	</div>
      </div>
        
	</div>
</div>
		
{{> sidebar}}

{{> foot }}