{{> head }}

<div role="main">
    <div class="m-stage">
        
        <div class="m-stage-content">
            <h1>Find us in Stores</h1>
            <p class="lead">Enter your location and a distance and we'll show you retail locations that carry Tommy John</p>
            <div class="row">
                <form action="" id="store-locator" class="custom">
                    <div class="row">
                        <div class="four centered column">
                            <fieldset class="two column offset-by-one">
                                <hr class="space">
                                <input type="text" name="zip" pattern="[\d]{5}(-[\d]{4})" placeholder="Postal Code">
                            </fieldset>
                            <div class="m-divider column"><span class="m-div-label">OR</span></div>
                            <fieldset class="two column end">
                                    <input type="text" class="six" name="address" placeholder="Street Address">
                                    <input type="text" class="four column" name="city" placeholder="City">
                                    <input type="text" class="two column" name="state" placeholder="State">
                            </fieldset>
                        </div>
                    </div>
                    <div class="row collapsed">
                        <div class="one centered column">
                            <label for="distance">Distance</label>
                            <select style="display:none;" id="customDropdown">
                                <option SELECTED>1 Mile</option>
                                <option value="">2 Mile</option>
                                <option value="">5 Mile</option>
                                <option value="">10 Mile</option>
                                <option value="">25 Mile</option>
                            </select>
                            <div class="custom dropdown expand">
                              <a href="#" class="current">1 Mile</a>
                              <a href="#" class="selector"></a>
                              <ul>
                                <li>1 Mile</li>
                                <li>2 Mile</li>
                                <li>5 Mile</li>
                                <li>10 Mile</li>
                                <li>25 Mile</li>
                              </ul>
                            </div>
                            <a href="#locations" class="btn expand">Find</a>
                        </div>
                    </div>
                </form>
            </div>
        
        </div>
    </div>

    
    <div class="row">
        <div class="three centered column">
            <ul id="locations" class="m-locations no-bullet">
                <li class="row">
                    <a href="">
                        <div class="one mobile-one column loc-map"><img src="http://maps.googleapis.com/maps/api/staticmap?center=850+2nd+ave+New+York+NY+10017&zoom=12&size=113x113&sensor=false" alt="" class="img-circle inset shadow-inner"></div>
                        <div class="five mobile-three column end padded">
                            <h2>Location</h2>
                            <p>850 2nd ave, New York NY 10017</p>
                        </div>
                    </a>
                </li>
                <li class="row">
                    <a href="">
                        <div class="one mobile-one column loc-map"><img src="http://maps.googleapis.com/maps/api/staticmap?center=3nd+ave+New+York+NY+10011&zoom=12&size=113x113&sensor=false" alt="" class="img-circle inset shadow-inner"></div>
                        <div class="five mobile-three column end padded">
                            <h2>Location</h2>
                            <p>850 2nd ave, New York NY 10017</p>
                        </div>
                    </a>
                </li>
                <li class="row">
                    <a href="">
                        <div class="one mobile-one column loc-map"><img src="http://maps.googleapis.com/maps/api/staticmap?center=New+York+NY+10010&zoom=12&size=113x113&sensor=false" alt="" class="img-circle inset shadow-inner"></div>
                        <div class="five mobile-three column end padded">
                            <h2>Location</h2>
                            <p>850 2nd ave, New York NY 10017</p>
                        </div>
                    </a>
                </li>
                <li class="row">
                    <a href="">
                        <div class="one mobile-one column loc-map"><img src="http://maps.googleapis.com/maps/api/staticmap?center=850+2nd+ave+New+York+NY+10017&zoom=12&size=113x113&sensor=false" alt="" class="img-circle inset shadow-inner"></div>
                        <div class="five mobile-three column end padded">
                            <h2>Location</h2>
                            <p>850 2nd ave, New York NY 10017</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
		
{{> sidebar}}

{{> foot }}