{{> head }}
		
<article role="main">
    <div class="content">

        <div class="row">
            <header class="page-header">
                <h1>Sign in to your account</h1>
            </header>
            <div class="two centered column">
                
                <!-- login -->
                <div class="padded">
                    <a href="#facebook-login" class="btn large expand facebook">Sign in with FaceBook</a>
                </div>
                <p class="seperator horizontal"><em>or</em></p>
                <form action="#login" method="post" accept-charset="utf-8">
                    <fieldset>
                        <div class="input-row">
                            <label for="email">Email</label>
                            <input id="email" type="email" placeholder="you@domain.com">
                        </div>
                        <div class="input-row">
                            <label for="password">Password</label>
                            <input id="password" type="password" placeholder="********">
                            <small><a href="#create-account">Forgot your password?</a></small>
                        </div>
                    </fieldset>
                    <fieldset>
                        <a href="#login-action" class="btn large expand">Sign in with Tommy John</a>
                        <p><small>Don't have an account? It's easy to <a href="create-account">create one</a></small></p>
                    </fieldset>
                    
                </form>
                <!-- /login -->
                
            </div>
        </div>
        
	</div>
</article>
		
{{> sidebar }}

{{> foot }}