<!DOCTYPE HTML><!--[if IE]><![endif]-->
<!--[if lt IE 7 ]><html class="no-js ie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
	<head>
		<meta charset="UTF-8">
		<title>{{meta.title}}</title>
		<meta name="description" content="{{meta.description}}">
		<meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700">
		<link rel="stylesheet" href="css/base.css?{{ timestamp }}">
		<link rel="stylesheet" href="css/layout.css?{{ timestamp }}">
		<link rel="stylesheet" href="css/theme.css?{{ timestamp }}">
		<link rel="stylesheet" href="css/state.css?{{ timestamp }}">
        <style type="text/css" media="screen">
            .splash {
                margin-top: -25%;
                right: 0;
                top: 50%;
                text-align: center;
                padding: 1.5em 20%;
                position: absolute;
                left: 0;
            }
            .splash-logo {
                margin-bottom: 1.5em;
            }
            .splash-sign {
                height: .75em;
            }
        </style>
        
        
		<script src="scripts/lib/modernizr.dev.js"></script>
        
		<!--[if IE]><meta http-equiv="imagetoolbar" content="no"><![endif]-->
		<!--[if lte IE 8]><script src="scripts/polyfill/selectivizr.js"></script><![endif]-->
		<link type="text/plain" rel="author" href="humans.txt">
	</head>
	<body>
        <article role="main">
            <div class="splash">
                <img class="splash-logo" src="images/icons/techicon.png" alt="Tommy John logo mark">
                <h1>{{meta.title}}</h1>
                <p class="lead">Perfecting undergarments takes time. Please bear with us while we update our site. Thanks!</p>
                <p><img class="splash-sign" src="images/tommyjohn.svg" alt="Tommy John"></p>
        	</div>
        </article>
    </body>
</html>