{{> head }}
		
<article role="main">
    <div class="content">

        <div class="row">
            <header class="page-header four columns centered">
                <h1>Press</h1>
                <p class="lead">View some of the high praise for Tommy John undergarments</p>
            </header>
        </div>
        <div class="row">
            <div class="three centered columns">

                <h2 class="hidden">Featured</h2>
                <ul class="press-grid">
                    <li class="press-grid-item">
                        <a href="http://video.cnbc.com/gallery/?video=3000087306" class="press-item" rel="external">
                            <img border="0" src="images/press/cnbc.png" alt="CNBC">
                            <span class="press-item-description"><i class="icon-film"></i> <b>CNBC</b> <br>Squawk Team Talks Men's Undershirts</span>
                        </a>
                    </li>
                    <li class="press-grid-item">
                        <a href="http://www.youtube.com/embed/sRLgEAkqU2M" class="press-item" rel="external">
                            <img border="0" src="images/press/fox-business.png" alt="FOX Business">
                            <span class="press-item-description"><i class="icon-globe"></i> <b>FOX Business</b> <br>Company makes undershirts to stay tucked into pants</span>
                        </a>
                    </li>
                    <li class="press-grid-item">
                        <a href="http://features.blogs.fortune.cnn.com/2012/01/27/mens-underwear-leaves-the-stone-age/" class="press-item" rel="external">
                            <img border="0" src="images/press/fortune.png" alt="Fortune">
                            <span class="press-item-description"><i class="icon-globe"></i> <b>Fortune</b> <br>Men's underwear leaves the Stone Age</span>
                        </a>
                    </li>
                </ul>

                <h2>In Video</h2>
                <ul class="press-list">
                    <li class="press-list-item icon-film">
                        <a href="http://video.cnbc.com/gallery/?video=3000087306" class="press-item" rel="external">
                            <b>CNBC</b> – Squawk Team Talks Men's Undershirts
                        </a>
                    </li>
                    <li class="press-list-item icon-film">
                        <a href="http://www.youtube.com/embed/jqtbsM6b7ZU" class="press-item" rel="external">
                            <b>Fox Business</b> – Company makes undershirts to stay tucked into pants
                        </a>
                    </li>
                    <li class="press-list-item icon-film">
                        <a href="http://www.youtube.com/embed/sRLgEAkqU2M" class="press-item" rel="external">
                            <b>Channel 9 News</b> – Tommy John
                        </a>
                    </li>
                </ul>
                
                <h2>In Print</h2>
                <ul class="press-list">
                    <li class="press-list-item icon-globe">
                        <a href="http://features.blogs.fortune.cnn.com/2012/01/27/mens-underwear-leaves-the-stone-age/" class="press-item" rel="external">
                            <b>Fortune</b> – Men's underwear leaves the Stone Age
                        </a>
                    </li>
                    <li class="press-list-item icon-globe">
                        <a href="#link-to-online-article" class="press-item" rel="external">
                            <b>Ask Men</b> – Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        </a>
                    </li>
                    <li class="press-list-item icon-globe">
                        <a href="#link-to-online-article" class="press-item" rel="external">
                            <b>Thrillist</b> – Article title
                        </a>
                    </li>
                    <li class="press-list-item icon-file">
                        <a href="#link-to-pdf" class="press-item">
                            <b>Magazine</b> – Excepteur sint occaecat cupidatat non proident
                        </a>
                    </li>
                </ul>

            </div>
        </div>
        
	</div>
</article>

{{> foot }}