{{> head }}
		
<article role="main">
    <div class="content l-wrapper cf">
        <div class="l-block-half">
            {{> m-image-viewer }}
        </div>
        <div class="l-block-half">
            {{> m-product-cart }}
        </div>
        
	</div>
</article>
		
{{> sidebar }}

{{> foot }}