{{> head }}
		
<article role="main">
    <div class="content">

        <div class="row">
            <header class="page-header four columns centered">
                <h1>Mentoring 101</h1>
				<p class="lead">Sharing Tommy John with friends is easy. <br>Help a friend look and feel better and get $10 in the process</p>
            </header>
        </div>
        <div class="row">
            <div class="two columns centered">
				<form action="#referral-email" method="post" accept-charset="utf-8">
					<div class="field-group">
						<label for="ref-from">From</label>
						<input type="email" name="ref-email" value="matt@tommyjohnwear.com" id="ref-from">
					</div>
					<div class="field-group">
						<label for="ref-to">To <small>separate multiple email addresses with a comma</small></label>
						<input type="text" name="ref-to" value="" class="tag-input email-input">
					</div>
					<!-- <p class="seperator horizontal"><em>or</em></p> -->
					<p><small><i class="icon-paper-clip"></i> Import contacts from <br><a href="#">GMail</a> | <a href="#">AOL</a> | <a href="#">Skype</a> | <a href="#">Windows Live</a></small></p>
					<div class="field-group">
						<label for="ref-subject">Subject</label>
						<input type="text" name="ref-subject" value="I can get you $10 off at Tommy John" id="ref-subject">
					</div>
					<div class="field-group">
						<label for="ref-message">Message</label>
						<textarea name="ref-message" id="ref-message" style="min-height: 8em; width: 100%;">I just bought underwear from Tommy John. Their underwear is AWESOME! You can get $10 off your first purchase of $50+ with this link: [http://tommyjo.hn/x/VKbRg]</textarea>
						<input type="checkbox" name="ref-reminder" value="" id="ref-reminder">
						<label for="ref-reminder">Send friends a reminder in 3 days</label>
					</div>
					<div class="field-group">
						<br>
						<input type="submit" name="ref-submit" value="Send" class="btn blue block">
					</div>
				</form>
				<hr>
				<div class="panel padded">
					<h2>Or share however you like</h2>
					<p>
						<a href="http://www.facebook.com/sharer.php?u=[http%3A%2F%2Ftommyjohnshorturl%2Fx%2F6yzJU]" class="btn small facebook"><i class="icon-facebook"></i> Share</a>
						<a href="https://twitter.com/intent/tweet?url=[http%3A%2F%2Ftommyjohnshorturl%2Fx%2FIwjvt&amp;text=Message.+%23PromiseThisIsntSpam]" class="btn small twitter"><i class="icon-twitter"></i> Tweet</a>
						
					</p>
					<p><input type="text" readonly="readonly" value="http://tommyjo.hn/x/12asdf" class="select-all"></p>
				</div>
            </div>
        </div>
        
	</div>
</article>
		
{{> sidebar }}

{{> foot }}