{{> head }}
		
<article role="main">
    <div class="content">

        <div class="row">
            <header class="page-header four columns centered">
                <h1>Success!</h1>
            </header>
        </div>
        <div class="row">
            <div class="two columns centered">
                <h2>Here’s your custom link</h2>
                <p><input type="text" readonly="readonly" value="http://tommyjo.hn/x/12asdf"></p>
                <h2>Mentoring 101</h2>
                <ul class="standard-list">
                <li>Include your custom link when posting about Tommy John.</li>
                <li>Become a fan of ours on Facebook and follow us on Twitter [buttons for each, see enclosed]</li>
                <li>Like and share our content on Facebook and Twitter</li>
                <li>Be sure to questions and answers from your friends. Show them the way!</li>
                </ul>
            </div>
        </div>
        
	</div>
</article>
		
{{> sidebar }}

{{> foot }}