{{> head }}
		
<article role="main">
    <div class="content">

        <div class="row">
            <header class="page-header four columns centered">
                <h1>Our Mentor Program</h1>
                <p class="lead">Go ahead, brag about your underwear.</p>
            </header>
        </div>
        <div class="row">
            <div class="three columns centered">
                <p>Introducing a friend to Tommy John isn’t just a referral. It’s a way of imparting your wisdom to them. That’s why we refer to our customers who introduce their friends to Tommy John as Mentors. Share the success you’ve had with Tommy John with your friends today.</p>
                <h2>How the Mentor Program works</h2>
                <ul class="standard-list">
                    <li>Existing customers may opt into the mentor program. </li>
                    <li>Be sure to opt in with your Facebook account. You can get referral credits from your Facebook friends that just happen to discover Tommy John on their own! (Of course, as a mentor, they will know you are there for them should they have any questions before buying)</li>
                    <li>Impart your wisdom by sharing your custom link with your friends . Let them know how much better you look and feel in your Tommy Johns</li>
                    <li>If a friend ends up spending $50 or more on their first purchase, they get a $10 discount towards on their order and you get a $10 credit in your account!</li>
                    <li>Your credits can be used at any time and never expire!</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="two columns centered">
                <form action="#referral_submit" method="post" accept-charset="utf-8">
                    <div class="field-group">
                        <input type="checkbox" id="mentor-join" name="mentor-join" value="" checked>
                        <label for="mentor-join">Yes, I am excited to join the Tommy John Mentor Program</label>
                    </div>
                    <div class="field-group">
                        <input type="checkbox" id="mentor-facebook" name="mentor-facebook" value="" checked>
                        <label for="mentor-facebook">Yes, I would like to use my Facebook account as a part of the program <small class="popover-trigger" data-content="When visitors come to the Tommy John site, they have the opportunity to create an account with Facebook. When they do and if you are Facebook friends with them, they will see your connection with us and be eligible for a $10 discount on their purchase. If they order more than $50, you get a $10 credit!" data-placement="top" data-trigger="hover">Why should I do this?</small></label>
                    </div> 
                    <br>
                    <p><input type="submit" name="submit-referral" value="Submit" class="btn large six"></p>
                </form>                
                <p><small>Credits can be used at any time and do not expire. Offer not valid at other retail outlets. No adjustments on previous purchases. Offer is void where taxed, restricted or prohibited by law. Offer is non-transferable, not redeemable for cash, and subject to change without notice. This offer is made by Tommy John, Inc.</small></p>
            </div>
        </div>
        
	</div>
</article>
		
{{> sidebar }}

{{> foot }}