{{> head }}
		
<article role="main">
    <div class="content">
        
        <div class="l-wrapper">
            <div class="l-grid-six">    
                <div class="l-block-full">
                    <h1>Refer a Friend</h1>
                    <p>Give your friends $25 off when they spend $75 or more. You get something too, a $25 gift code.</p>
                </div>
                <div class="l-block-half">
                    <p><a href="//facebook.com">Share link on Facebook</a></p>
                    <p><a href="//twitter.com">tweet it</a></p>
                    <p><a href="#email">Email your Contacts</a></p>
                    <p>Or share any way you like:</p>
                    <p><input type="text" readonly="readonly" value="http://tmjn.co/xY8ab3"></p>
                </div>
            </div>
        </div>
        
	</div>
</article>
		
{{> sidebar }}

{{> foot }}