{{> head }}
		
<article role="main">
    <div class="content">

        <div class="row">
            <header class="page-header">
                <h1>Sizing Charts</h1>
            </header>
            <div class="three centered column">
                
                <table class="size-chart display">
                    <caption>Undershirt sizing</caption>
                    <thead>
                        <tr>
                            <th scope="row">Size</th>
                            <th scope="col"><abbr title="Small">SM</abbr></th>
                            <th scope="col"><abbr title="Medium">MED</abbr></th>
                            <th scope="col"><abbr title="Large">LG</abbr></th>
                            <th scope="col"><abbr title="Extra Large">XL</abbr></th>
                            <th scope="col"><abbr title="2 x Extra Large">XXL</abbr></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Chest</th>
                            <td>34–27"</td>
                            <td>38–41"</td>
                            <td>42–44"</td>
                            <td>45–48"</td>
                            <td>49–52"</td>
                        </tr>
                    </tbody>
                </table>
                <table class="size-chart display">
                    <caption>Underwear sizing</caption>
                    <thead>
                        <tr>
                            <th scope="row">Size</th>
                            <th scope="col"><abbr title="Small">SM</abbr></th>
                            <th scope="col"><abbr title="Medium">MED</abbr></th>
                            <th scope="col"><abbr title="Large">LG</abbr></th>
                            <th scope="col"><abbr title="Extra Large">XL</abbr></th>
                            <th scope="col"><abbr title="2 x Extra Large">XXL</abbr></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Waist</th>
                            <td>28–30"</td>
                            <td>32–34"</td>
                            <td>36–38"</td>
                            <td>40–42"</td>
                            <td>44–46"</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
        
	</div>
</article>
		
{{> sidebar }}

{{> foot }}