{{> head }}
		
<article role="main">
    <div class="content">

        <div class="row">
            <header class="page-header row">
                <div class="column three centered">
                <h1>The Starter Kit Special Offer</h1>
                <p class="lead">Purchase one (1) men’s undershirt style and one (1) men’s underwear bottom (collectively, the “Tommy John Starter Kit”), and receive 20% off of the order <b>when creating account through Facebook login</b></p>
                </div>
            </header>
            <div class="two centered column">
                <div class="four centered column">
                    <p><a class="btn large six facebook" href="//facebook.com#sellyoursoul">Create account with Facebook</a></p>
                    <p class="seperator horizontal"><em>then</em></p>
                    <p><a class="btn large six" href="category">Find your kit</a></p>
                    <img src="images/promos/starterkit.jpg" alt="">
                </div>
               <p><small>Offer not valid at other retail outlets. No adjustments on previous purchases. Offer is void where taxed, restricted or prohibited by law. Offer is non-transferable, not redeemable for cash, and subject to change without notice. Discount limited to one Starter Kit per customer or transaction. Offer cannot be combined with other offers or discounts. This offer is made by Tommy John, Inc.</small></p>
            </div>
        </div>
        
	</div>
</article>
		
{{> sidebar }}

{{> foot }}