{{> head }}
		
<article role="main">
    <div class="content">

        <div class="row">
            <header class="page-header">
                <h1>The Starter Kit</h1>
                <p class="lead">Purchase any men’s undershirt and receive a free pair of underwear when you create an account with us through Facebook.</p>
            </header>
            <div class="two centered column">
                <div class="four centered column">
                    <p><a class="btn large six facebook" href="//facebook.com#sellyoursoul">Create account with Facebook</a></p>
                    <img src="images/promos/starterkit.jpg" alt="">
                </div>
                <p><small>Purchase one (1) any men’s undershirt style (collectively, the “Tommy John Starter Kit”), on tommyjohnwear.com and receive 1 FREE pair of underwear with the Men’s Starter Kit, when creating account through Facebook login.</small></p>
               <p><small>Offer not valid at other retail outlets. No adjustments on previous purchases. Offer is void where taxed, restricted or prohibited by law. Offer is non-transferable, not redeemable for cash, and subject to change without notice. Discount limited to one Starter Kit per customer or transaction. Offer cannot be combined with other offers or discounts.</small></p> 
               <p><small>This offer is made by Tommy John, Inc.</small></p>
            </div>
        </div>
        
	</div>
</article>
		
{{> sidebar }}

{{> foot }}