{{> head }}
		
<article role="main">
    <header class="m-stage row">
        
        <div class="four column centered">
            <div class="m-stage-content text-center">
                <h1 class="heading">{{stage.heading}}</h1>
                <p class="lead">{{stage.lead}}</p>
                
                <div class="two centered column text-center">
                    <figure class="video-btn">
                    	<a href="#play-video" class="video-btn-link">
                    		<img src="http://placehold.it/357x191" class="video-btn-thmb">
                    		<figcaption class="video-btn-cap">Watch <em>Us vs. Them</em></figcaption>
                    	</a>
                    </figure>
                </div>
            </div>
        </div>
        
    </header>

    <div class="content">

        <!-- <div class="row">
            <div class="m-huge-promo" style="background-image:url(images/dudebro/hero.png)">
                <h2>Something Globaly Cool</h2>
                <p>These are the best because cosby sweater tofu, hella godard salvia vinyl kogi 3 wolf</p>
            </div>
        </div> -->

        <div class="row">
            {{#feature-rows}}
                {{>m-feature-row }}
            {{/feature-rows}}
        </div>

        <hr class="space">
        
        <div class="m-primary-features row">
            {{#primary-feature}}
                <div class="two column">
                    {{> m-feature}}
                </div>
            {{/primary-feature}}
        </div>
        
	</div>
</article>
		
{{> sidebar }}

{{> foot }}