{{> head }}
		
<article role="main">
    <header class="m-stage row">
        
        <div class="four column centered">
            <div class="m-stage-content text-center">
                <h1 class="heading">{{stage.heading}}</h1>
                <p class="lead">{{stage.lead}}</p>
                
                <!-- <div class="two centered column text-center">
                    <figure class="video-btn">
                        <a href="#play-video" class="video-btn-link">
                            <img src="http://placehold.it/357x191" class="video-btn-thmb">
                            <figcaption class="video-btn-cap">Watch <em>Us vs. Them</em></figcaption>
                        </a>
                    </figure>
                </div> -->
            </div>
        </div>
        
    </header>

    <div class="content">

        <div class="row">
            <div class="centered m-huge-promo">
                <h2>Us <span class="downcase">vs.</span> Them</h2>
                <div class="row">
                    <div class="three column comparison-item">
                        <img src="images/vs-them.jpg" alt="Box cut undershirt">
                        <h3>Before</h3>
                        <p>This is the standard “box cut” undershirt that our competitors make. You are likely wearing one right now and suffering from the dreaded EFG “excess fabric gut” appearance, bunching up, and untucking. Unfortunately, they don’t really fit or work at all as an undershirt.</p>
                    </div>
                    <div class="three column comparison-item">
                        <img src="images/vs-us.jpg" alt="Our slim fitting undershirt">
                        <h3>After</h3>
                        <p>This is the same model in a Tommy John undershirt. This image is very powerful in that it visually shows <em>why</em> our undershirt actually works.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <h2>The features that make us better</h2>
            {{#feature-rows}}
            <div class="three column">
                {{>m-feature-row }}
            </div>
            {{/feature-rows}}
        </div>

        <hr class="space">
        
        <div class="m-primary-features row">
            {{#primary-feature}}
                <div class="two column padded">
                    <a class="btn block" href="{{ href }}">
                        {{{ text }}} <em class="pf-action h3">{{action}}</em>
                    </a>
                </div>
            {{/primary-feature}}
        </div>
        
	</div>
</article>
		
{{> sidebar }}

{{> foot }}