{{> head }}
		
<article role="main">
    <div class="content row">
        <header class="page-header">
            <h1>{{ meta.title }}</h1>
        </header>
        <div class="three centered column">
            <p>Your order has been placed. The reference number is <a href="account">{{ reference }}</a>. You can check the status of your order from your <a href="account">order history</a>.</p>
            <!-- <hr>
            <p>Please take a moment to tell us how you found out about Tommy John <select name="" id="" class="inline">
                <option value="">Online</option>
                <option value="">Word of mouth</option>
                <option value="">Alien mind meld</option>
            </select></p> -->
        </div>
	</div>
	<div class="row">
	    <div class="three centered column panel padded">
	    <aside class="referral-aside">
            <h2>Why not refer a friend?</h2>
            <p>Give your friends $25 off when they spend $75 or more. You get something too, a $25 gift code.</p>
            <a href="referral" class="btn large">Let's do this!</a>
        </aside>
        </div>
	</div>
</article>
		
{{> sidebar }}

{{> foot }}