{{> head }}
		
<article role="main">
    <!-- grid -->
    <div class="row">
        <div class="three centered column">
            <!-- content -->
            <header class="page-header">
                <h1>{{ meta.title }}</h1>
            </header>
            <ul class="wishlist no-bullet">
                {{# wishlist }}
                {{> m-account-wishlist-item }}
                {{/ wishlist }}
            </ul>
            <a href="#email">Email this list to someone</a>
            <!-- /content -->
        </div>
	</div>
    <!-- /grid -->
</article>
		
{{> sidebar }}

{{> foot }}