{{> head }}
		
<article role="main">
    <div class="content row">
        <h1>{{ meta.title }}</h1>
        <div class="three column centered">
            {{# wishlist }}
            {{> m-wishlist-item }}
            {{/ wishlist }}
        </div>
        <a href="">Email this list to someone</a>
	</div>
</article>
		
{{> sidebar }}

{{> foot }}